<p>r ({{r}})
    <input type='number' value={{r}}
        onInput={{action (mut r)
            value='target.value' }} />
</p>

<p>g ({{g}})
    <input type='number' value={{g}}
        onInput={{
            action (mut g)
            value='target.value'
        }} />
</p>


<p>b ({{b}})
    <input type='number' value={{b}}
        onInput={{
            action (mut b)
            value='target.value'
        }} />
</p>

{{input value=hex}}

<div style='width: 100px; height: 100px; background: #{{hex}}'>

</div>

{{yield}}
