<h4>Social Info</h4>
<a href="https://www.linkedin.com/in/{{linkedIn}}/">I'm {{linkedIn}} on LinkedIn!</a>
<a href="https://twitter.com/{{twitter}}">I'm {{twitter}} on Twitter!</a>
<p>
    {{yield}}
</p>
