<p> 
    <label for="">r</label>
    {{input value=r}}
</p>

<p> 
    <label for="">g</label>
    {{input value=g}}
</p>

<p> 
    <label for="">b</label>
    {{input value=b}}
</p>
<p> 
    <label for="">hex</label>
    {{input value=hex}}
</p>

<div style={{_boxStyle}}>
</div>