
{{!-- {{dasherize "Airmen Study Guides" delim=', '}} --}}

{{!-- {{placeholder-url w=121 h=314}}
<img src={{placeholder-url w=129 h=316}} alt=""> --}}

{{!-- <div>
  {{mike-input type="text" label="Age" _value='34'}}
  {{!-- {{#mike-input label="email" _value='hello!!' as |clear|}}
    <button onclick={{clear}}>clear</button>
  {{/mike-input}}
</div>
 --}}

 {{!-- {{two-inputs str="Hello World!"}} --}}
{{!-- 
{{#each model as |course|}}
  {{course-list-item
    model=course}}
{{/each}} --}}
<p>Application.hbs</p>
{{outlet}}