<h1>{{upcase "foo"}}</h1>
{{placeholder-url w=213 h=412}}
<hr>

{{two-inputs}}

<hr>
{{x-input label='Email' type='email' value=user.email}}
{{x-input label='Password' type='password' value=user.password}}
{{x-input label='Confirm PW'  value=user.passwordConfirmation}}

<ul>
  {{#each courses as |course|}}
    {{course-list-item model=course}}
  {{/each}}
</ul>

{{outlet}}
