{{!-- {{two-inputs str='heLLo'}} --}}


{{!-- {{x-receipt}} --}}

{{!-- <ul>
{{#each courses as |x|}}
  {{course-list-item model=x}}
{{/each}}
</ul> --}}
{{!-- <h1>Hello {{space-ize (unbound planet) " (not a planet)"}}</h1>
<h1>Hello {{space-ize planet " (not a planet)"}}</h1>


{{text-field name="Location" txt=planet type='email'}}

<pre>
  {{placeholder-url w=194 h=914}}
</pre>
<img src={{placeholder-url w=194 h=914}} alt=""> --}}
<p>before</p>
{{outlet}}
<p>after</p>