{{!--<h1>{{dasherize "Hello World!"}}</h1>--}}

{{color-picker}}

{{#each courses as |thisCourse|}}
    {{course-list-item
        model=thisCourse}}
{{/each}}

<hr>

{{#social-info
        name='Mike'
    linkedin='https://linkedin.com/in/northm'
    as |socialApi isOn|}}
    {{!--{{component 'social-info-desktop' api=socialApi}}--}}
    {{!-- the callback --}}
    <h3 style='color:red'>The toggle is {{isOn}}</h3>
    <button
        onclick={{socialApi.doSomething}}>Click me</button>
{{/social-info}}


<pre>{{placeholder-url w=184 h=814}}</pre>
<img src={{placeholder-url w=184 h=814}} >

<ul>
    <li>1a. <code>yarn add -D @types/ember</code></li>
    <li>1b. <code>npm install --save-dev @types/ember</code></li>
    <li>2. <code>//@ts-check at top of js files</code></li>
</ul>

{{outlet}}
