{{!--
{{make-name "Mike" "North" uppercase=true}}--}}

{{!--{{two-inputs str='ember Fundamentals'}}--}}


{{!--
{{placeholder-url w=502 h=301}}
<img src="{{placeholder-url w=512 h=305}}" alt="">--}}


{{!--<p>
  <label>Form Label</label>
  <input type="text">
  <span class="error-text">Errors Go here</span>
</p>--}}
<h1>Courses</h1>
{{outlet}}
