{{!-- {{social-info
    twitter='MichaelLNorth'}}

{{#social-info
    twitter='StefanPenner'}}
    <i class='fa-user'></i>
    <p>
        Stef is on the presentation infrastructure team.
    </p>
{{/social-info}} --}}

{{!-- {{x-textarea}} --}}

{{!-- {{two-inputs str='hello world'}}

{{#each courses as |course|}}
    {{course-list-item model=course}}
{{/each}} --}}

<h1>Application.hbs</h1>
{{outlet}}
