{{link-to "< Back" "index"}}

<h1 class='course-title'>{{model.title}}</h1>
<img width=200 src={{model.image-info.square2x.url}} alt="">

<p>
    {{model.summary}}
</p>
<hr>

<ul>
    {{#each model.stages as |stage|}}
        <li class="course-stage-item">
            {{link-to stage.title 'course-stage' model.slug stage.slug}}
        </li>
    {{/each}}
</ul>