{{link-to "Courses" "index"}}
<p>course.hbs</p>

<img style="max-height: 300px; max-width: 100%" src={{model.image-info.square2x.url}} alt={{model.title}} />
<h1 class='course-title'>{{model.title}}</h1>
<p>{{model.summary}}</p>
{{outlet}}