<h2>List</h2>
<ul>
  <li>{{link-to "Item 1" "list.details" 1}}</li>
  <li>{{link-to "Item 2" "list.details" 2}}</li>
  <li>{{link-to "Item 3" "list.details" 3}}</li>
  <li>{{link-to "Item 4" "list.details" 4}}</li>
  <li>{{link-to "Item 5" "list.details" 5}}</li>
</ul>

{{outlet}}
