<h2>List</h2>
<ul>
  <li>{{link-to "Item 1" "details"}}</li>
  <li>{{link-to "Item 2" "details"}}</li>
  <li>{{link-to "Item 3" "details"}}</li>
  <li>{{link-to "Item 4" "details"}}</li>
  <li>{{link-to "Item 5" "details"}}</li>
</ul>

{{outlet}}
